Body{background-image: url(images/photo-1465101162946-4377e57745c3.jpg);}
h1{font-family: fantasy;
    text-align: center;
    background-color: black;
    font-size: 100;
    padding: "100,200";
    font-weight: bolder;
    color: rgb(37, 155, 155);
     ;

}