h1 {color: blue; text-align: center; font-size: 100px;
    background-color: rgb(13, 13, 14);
padding: "100, 100";}
h2 {color: red; background-color: black; }
h3{color: rgb(255, 0, 123); background-color: black;}
h4{color: green; background-color: black;}

